body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: white;
    overflow: hidden;
    background-color: black;
    height: 100vh;
}
.main{
    display: flex;
    height: 100vh;
    flex: 1;
}
.navbar{
    display: flex;
    background-color: #0f0f0f;
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    z-index: 10;
}
.start{
    width: 25%;
    background-color: #0f0f0f;
    padding-left: 16px;
    display: flex;
    align-items: center;
}
.menu{
    width: 20px;
    height: 20px;
    padding: 8px;
}
.youtube-thumbnail{
    width: 95px;
    height: 23px;
    padding: 18px 14px 18px 16px;
}
.center{
    display: flex;
    align-items: center;
    width: 50%;
    background-color:#0f0f0f;
    /* margin-left: 50px; */
    padding-left: 50px;
}
.search-contaner{
    display: flex;
    align-items: center;
    border: 1px  solid rgba(225, 225, 225, 0.6);
    border-radius: 24px;
    overflow: hidden;
    background-color:#0f0f0f;
    width: 622px;
    height: 42px;
}
.search-input{
    border: none;
    padding-left: 20px;
    /* padding: 10px; */
    font-size: 16px;
    outline: none;
    flex: 1;
    background-color:#0f0f0f;
    color: white;
}
.search-button{
    background-color:#292828;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 40px;
}
.search-button img{
    width: 20px;
    height: 20px;
}
.voice{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f;
    margin-left: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.voice:hover{
    background-color: #292828;
}
.voice img{
    width: 20px;
    height: 20px;
}
.end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    background-color:#0f0f0f;
    padding-right: 16px;
}
.nav-end{
    width: 32px;
    height: 32px;
    padding: 1px 10px;
}
.end-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #0f0f0f;
    margin-left: 10px;
    border-radius: 50%;
}
.end-icon:hover{
    background-color:#292828 ;
}
.nav-end-icon{
    width: 24px;
    height: 24px;
}
.sidebar{
    background-color:#0f0f0f;
    width: 220PX;
    overflow: hidden;
    scrollbar-color:rgba(123, 123, 123,0.9) transparent;
    scrollbar-width: thin;
    padding: 12px;
}
.sidebar:hover{
    overflow: auto;
}
.nav{
    display: flex;
    flex-direction: column;
}
.nav_logo{
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 13px;
    border-radius: 0.6rem;
    font-weight: 400;
}
.nav_logo:hover{
    background-color: #292828;
}
#no-hover:hover{
    background-color:transparent;
}
#forward{
    height: 13px;
    width: 13px;
    margin-left: 8px;
}
.nav_logo img{
    width: 22px;
    height: 22px;
    margin-right: 27px;
}
.nav_logo a{
    text-decoration: none;
    color: white;
    font-size: 88%;
}
.nav-you{
    margin-top: 12px;
    padding-top: 12px;
    border-top: thin solid rgba(225,225,225,0.3);
}
p{
    font-size: 90%;
    opacity: 0.6;
    padding: 15px 6px 0;
    margin: 0;
}
.main_content{
    background-color: #0F0F0F;
    flex: 1;
    overflow: hidden;
    scrollbar-color:rgba(123, 123, 123,0.9) transparent;
    scrollbar-width: thin;
    padding-left: 24px;
}
.main_content:hover{
    overflow: auto;
}
.footer{
    height: 56px;
    width: 100%;
}
.sticky-navbar{
    position: sticky;
    display: flex;
    align-items: center;
    overflow: auto;
    top:56px;
    gap: 10px;
    background-color: #0f0f0f;
    height: 56px; 
    scrollbar-width: none;
    z-index: 10;
}
.nav-item{
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.nav-item:hover{
    background-color: #444;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;

    background-color: #0F0F0F;
}
.card{
    width: 400px;
    /* height: 346px; */
    background-color:#0F0F0F;
    margin-right: 10px;
    margin-top: 24px;
    
}
.card-img{
    width: 100%;
    height: 225px;
    border-radius: 1rem;

}
.card-icon{
    width: 36px;
    height: 36px;
}
.card-content{
    display: flex;
    padding-top: 2px;
}
.img-icon{
    width: 36px;
}
.card-info{
    width: 340px;
}
.card-logo{
    width: 24px;
}
.ptag{
    padding: 0 0 5px 15px;
}
.ptag{
    margin: 0;
    color:white;
}
